<a href="https://colab.research.google.com/github/parkmonty/W_Pile/blob/main/BDA_assignment_week4(%ED%95%84%EC%88%98).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **필수과제 1**

* 리스트컴프리헨션 or 리스트 내포

## 1. 개념정리

> 리스트 컴프리헨션이란?

* 리스트 컴프리헨션은 직관적으로 리스트를 생성하는 방법
* [  ]로 감싸고 내부에 for문과 if문을 사용하여 반복하며 조건에 만족하는 것만 리스트로 생성
* 리스트 컴프리헨션을 사용하는 큰 이유는 직관적이고, 여러줄 쓸걸 한줄에 만들어 주며 속도도 더 빠르기 때문

> 기초 사용법

In [3]:
# 0부터 4사이의 정수로 리스트를 생성
li = []
for i in range(5):
  li.append(i)
print(li)

[0, 1, 2, 3, 4]

In [4]:
# 리스트 컴프리헨션 사용하여 생성
# 코드를 한줄로 처리가 가능
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [6]:
# 다음의 방법이 더 효율적인 것 같음
# 리스트 컴프리헨션을 사용하는 이유는 대괄호 내에 수식이나 함수 적용뿐만 아니라, if else 문으로 조건을 자유롭게 줄 수 있다.
list(range(5))

[0, 1, 2, 3, 4]

> 응용

* 수식이나 함수 적용

In [8]:
# 수식 적용
# 0부터 4까지 반복하며 10을 곱해, 0부터 40까지 출력할 수 있음
[i * 10 for i in range(5)]

[0, 10, 20, 30, 40]

In [10]:
# 함수 적용
# test 함수는 x를 받아 문자열로 변환 후에 ab를 추가해서 반환
# 0부터 4까지 반복하며 test 함수에 넣고 반환된 값을 리스트로 생성
def test(x):
  x = str(x) + 'ab'
  return x

[test(i) for i in range(5)]

['0ab', '1ab', '2ab', '3ab', '4ab']

* 조건문 사용

  * 조건문은 리스트 컴프리헨션에서 왼쪽에 쓸 수도 있고, 오른쪽에 쓸 수 도 있다.
  * if문만 사용할 때는 오른쪽에, if else문을 사용할 때는 왼쪽에 씁니다.

In [11]:
# 오른쪽에 if문 사용
# 0부터 4까지 반복하며 i가 2로 나누어 떨어질 때라는 조건을 충족하는 값만 리스트로 생성
[i for i in range(5) if i % 2 == 0]

[0, 2, 4]

In [13]:
# 오른쪽에 if문을 여러 개 사용할 수 있다.
[i for i in range(5) if i % 2 == 0 if i % 4 == 0]

[0, 4]

In [15]:
# 왼쪽에 if문 사용 (else 같이 사용)
# 왼쪽에 if문을 사용할 때는 반드시 else와 함께 사용해야 한다
# 0부터 4까지 반복하며 2로 나누어 떨어지면 i 값을 아니면 'odd'값을 반환해서 리스트를 생성
[i if i % 2 == 0 else 'odd' for i in range(5)]

[0, 'odd', 2, 'odd', 4]

In [17]:
# if else문은 여러 개를 사용할 수 있음
# 여러 개를 사용하면 elif와 같은 효과를 주게된다.
# if i % 2 == 0 : 2로 나누어 떨어지면 i값 반환
# else 'odd-1' if i == 1 : 2로 나누어 떨어지지 않고 i가 1이면 'odd-1'을 반환
# else 'odd-3' : 위의 조건이 모두 성립하지 않으면 'odd-3'을 반환
[i if i % 2 == 0 else 'odd-1' if i == 1 else 'odd-3' for i in range(5)]

[0, 'odd-1', 2, 'odd-3', 4]

* for문 2개 사용
  * 리스트 컴프리헨션을 이용하면 for문을 2개 사용함으로써 중첩 for문의 효과를 줄 수 있음

In [18]:
# i가 0일때 j는 0부터 2까지 반복하며 i가 1일때 j는 0부터 2까지 반복한다.
[(i, j) for i in range(2) for j in range(3)]

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2)]

In [19]:
# 위의 코드를 풀어서 작성
li = []
for i in range(2):
  for j in range(3):
    li.append((i, j))

print(li)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2)]

> 집합 컴프리헨션

* 리스트 컴프리헨션은 대괄호로 둘러싸고 안에 코드를 입력한다
* 하지만 대괄호 대신에 { }로 둘러싸게 되면 집합 컴프리헨션이 된다.

In [20]:
{i for i in range(5)}

{0, 1, 2, 3, 4}

> 딕셔너리 컴프리헨션

* 딕셔너리의 형식에 맞게 키와 값을 콜론을 사용하면 딕셔리 컴프리헨션이 된다.

In [22]:
{i : i for i in range(5)}

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4}

## 2. 데이터프레임 적용

In [26]:
import pandas as pd

In [28]:
df = pd.read_csv('mpg.csv')
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [ ]:
[(i, j) for i, j in enumerate(df['manufacturer'])]

In [ ]:
[i for i in df['year'] if i > 2000]

In [ ]:
[i if i > 3.0 else 'under-3.0 & up-2.0' if i > 2.0 else 'under-2.0'for i in df['displ']]

# **필수과제2**

* 중첩루프 정리하기

## 1. 개념정리

> 중첩루프 란?

* 반복문 여러 개가 겹쳐 있는 구조를 말함
* 보통 두 개의 반복문ㅣ 겹쳐 있는 '이중 루프'와 세 개의 반복문이 겹쳐 있는 '삼중 루프'를 가장 많이 사용함

> 2차원 데이터의 표현

In [37]:
# i는 층에 해당하는 변수로 1부터 4까지 반복
# j는 호수에 해당하는 변수로 i의 값에 각각 합쳐서 101, 102, 103, 104, 201 ... 으로 나오게 된다.
for i in ['1', '2', '3', '4']:
  for j in ['01', '02', '03', '04']:
    print(f"현재 {i}층 {i + j}호에 신문 배달")

현재 1층 101호에 신문 배달
현재 1층 102호에 신문 배달
현재 1층 103호에 신문 배달
현재 1층 104호에 신문 배달
현재 2층 201호에 신문 배달
현재 2층 202호에 신문 배달
현재 2층 203호에 신문 배달
현재 2층 204호에 신문 배달
현재 3층 301호에 신문 배달
현재 3층 302호에 신문 배달
현재 3층 303호에 신문 배달
현재 3층 304호에 신문 배달
현재 4층 401호에 신문 배달
현재 4층 402호에 신문 배달
현재 4층 403호에 신문 배달
현재 4층 404호에 신문 배달

In [38]:
# 2차원 배열을 이중 루프로 출력
# i는 row를 값으로 받는다
# j는 i가 받은 해당 row의 인덱스 0번 부터 마지막 까지 받는다.
apart = [[101, 102, 103, 104], [201, 202, 203, 204], [301, 302, 303, 304], [401, 402, 403, 404]]
for i in apart:
  for j in i:
    print(f"{j}호에 신문 배달")

101호에 신문 배달
102호에 신문 배달
103호에 신문 배달
104호에 신문 배달
201호에 신문 배달
202호에 신문 배달
203호에 신문 배달
204호에 신문 배달
301호에 신문 배달
302호에 신문 배달
303호에 신문 배달
304호에 신문 배달
401호에 신문 배달
402호에 신문 배달
403호에 신문 배달
404호에 신문 배달

> 3차원 데이터의 표현

In [39]:
# 위의 2차원 데이터와 같은 구조로 진행
# i는 층의 값을 받음
# k는 십의 자리 숫자를 받음
# j는 일의 자리 숫자를 받음
# i가 1번 증가할 때 k가 리스트의 값을 한바퀴 반복하며 k가 1번 증가할 때 j가 리스트의 값을 한바퀴 반복하게 된다.
for i in ['1', '2', '3', '4']:
  for k in ['0', '1']:
    for j in ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']:
      print(f"현재 {i}층 {i + k + j}호에 신문 배달")

현재 1층 100호에 신문 배달
현재 1층 101호에 신문 배달
현재 1층 102호에 신문 배달
현재 1층 103호에 신문 배달
현재 1층 104호에 신문 배달
현재 1층 105호에 신문 배달
현재 1층 106호에 신문 배달
현재 1층 107호에 신문 배달
현재 1층 108호에 신문 배달
현재 1층 109호에 신문 배달
현재 1층 110호에 신문 배달
현재 1층 111호에 신문 배달
현재 1층 112호에 신문 배달
현재 1층 113호에 신문 배달
현재 1층 114호에 신문 배달
현재 1층 115호에 신문 배달
현재 1층 116호에 신문 배달
현재 1층 117호에 신문 배달
현재 1층 118호에 신문 배달
현재 1층 119호에 신문 배달
현재 2층 200호에 신문 배달
현재 2층 201호에 신문 배달
현재 2층 202호에 신문 배달
현재 2층 203호에 신문 배달
현재 2층 204호에 신문 배달
현재 2층 205호에 신문 배달
현재 2층 206호에 신문 배달
현재 2층 207호에 신문 배달
현재 2층 208호에 신문 배달
현재 2층 209호에 신문 배달
현재 2층 210호에 신문 배달
현재 2층 211호에 신문 배달
현재 2층 212호에 신문 배달
현재 2층 213호에 신문 배달
현재 2층 214호에 신문 배달
현재 2층 215호에 신문 배달
현재 2층 216호에 신문 배달
현재 2층 217호에 신문 배달
현재 2층 218호에 신문 배달
현재 2층 219호에 신문 배달
현재 3층 300호에 신문 배달
현재 3층 301호에 신문 배달
현재 3층 302호에 신문 배달
현재 3층 303호에 신문 배달
현재 3층 304호에 신문 배달
현재 3층 305호에 신문 배달
현재 3층 306호에 신문 배달
현재 3층 307호에 신문 배달
현재 3층 308호에 신문 배달
현재 3층 309호에 신문 배달
현재 3층 310호에 신문 배달
현재 3층 311호에 신문 배달
현재 3층 312호에 신문 배달
현재 3층 313호에 신문 배달
현재 3층 314호에 신문 배달
현재 3층 315호에 신문 배달
현재 3층 316호에 신문 배달
현재 3층 317호에 신문 배달
현재 3층 318호에 신문 배달
현재 3층 319호에 신문 배달
현재 4층 400호에 신문 배달
현재 4층 401호에 신문 배달
현재 4층 402호에 신문 배달
현재 4층 403호에 신문 배달
현재 4층 404호에 신문 배달
현재 4층 405호에 신문 배달
현재 4층 406호에 신문 배달
현재 4층 407호에 신문 배달
현재 4층 408호에 신문 배달
현재 4층 409호에 신문 배달
현재 4층 410호에 신문 배달
현재 4층 411호에 신문 배달
현재 4층 412호에 신문 배달
현재 4층 413호에 신문 배달
현재 4층 414호에 신문 배달
현재 4층 415호에 신문 배달
현재 4층 416호에 신문 배달
현재 4층 417호에 신문 배달
현재 4층 418호에 신문 배달
현재 4층 419호에 신문 배달

> 4차원 데이터의 표현

In [45]:
# i값이 1 증가 하면 j는 range의 값을 한바퀴 돌아야 한다.
# j값이 1 증가 하면 k는 range의 값을 한바퀴 돌아야 한다.
# k값이 1 증가 하면 h는 range의 값을 한바퀴 돌아야 한다.
# 즉, h는 3 * 3 * 3 = 27 번을 돌게 된다.
for i in range(3):
  for j in range(3):
    for k in range(3):
      for h in range(3):
        print((i, j, k , h))

(0, 0, 0, 0)
(0, 0, 0, 1)
(0, 0, 0, 2)
(0, 0, 1, 0)
(0, 0, 1, 1)
(0, 0, 1, 2)
(0, 0, 2, 0)
(0, 0, 2, 1)
(0, 0, 2, 2)
(0, 1, 0, 0)
(0, 1, 0, 1)
(0, 1, 0, 2)
(0, 1, 1, 0)
(0, 1, 1, 1)
(0, 1, 1, 2)
(0, 1, 2, 0)
(0, 1, 2, 1)
(0, 1, 2, 2)
(0, 2, 0, 0)
(0, 2, 0, 1)
(0, 2, 0, 2)
(0, 2, 1, 0)
(0, 2, 1, 1)
(0, 2, 1, 2)
(0, 2, 2, 0)
(0, 2, 2, 1)
(0, 2, 2, 2)
(1, 0, 0, 0)
(1, 0, 0, 1)
(1, 0, 0, 2)
(1, 0, 1, 0)
(1, 0, 1, 1)
(1, 0, 1, 2)
(1, 0, 2, 0)
(1, 0, 2, 1)
(1, 0, 2, 2)
(1, 1, 0, 0)
(1, 1, 0, 1)
(1, 1, 0, 2)
(1, 1, 1, 0)
(1, 1, 1, 1)
(1, 1, 1, 2)
(1, 1, 2, 0)
(1, 1, 2, 1)
(1, 1, 2, 2)
(1, 2, 0, 0)
(1, 2, 0, 1)
(1, 2, 0, 2)
(1, 2, 1, 0)
(1, 2, 1, 1)
(1, 2, 1, 2)
(1, 2, 2, 0)
(1, 2, 2, 1)
(1, 2, 2, 2)
(2, 0, 0, 0)
(2, 0, 0, 1)
(2, 0, 0, 2)
(2, 0, 1, 0)
(2, 0, 1, 1)
(2, 0, 1, 2)
(2, 0, 2, 0)
(2, 0, 2, 1)
(2, 0, 2, 2)
(2, 1, 0, 0)
(2, 1, 0, 1)
(2, 1, 0, 2)
(2, 1, 1, 0)
(2, 1, 1, 1)
(2, 1, 1, 2)
(2, 1, 2, 0)
(2, 1, 2, 1)
(2, 1, 2, 2)
(2, 2, 0, 0)
(2, 2, 0, 1)
(2, 2, 0, 2)
(2, 2, 1, 0)
(2, 2, 1, 1)
(2, 2, 1, 2)
(2, 2, 2, 0)
(2, 2, 2, 1)
(2, 2, 2, 2)

# **필수과제3**

* mpg 데이터의 조건문을 2개 또는 3개 이상 필터해서 값을 출력
* 총 반복문은 5개 이상으로 제작

In [46]:
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [52]:
for i, j, k, l in zip(df.manufacturer, df.year, df.cty, df.hwy):
  if i == 'toyota' and j > 2000 and (k + l) / 2 > 25:
    print(i, j, k, l)

toyota 2008 21 31
toyota 2008 21 31
toyota 2008 21 31
toyota 2008 22 31
toyota 2008 28 37
toyota 2008 26 35

In [54]:
for i, j, k, l, h in zip(df.manufacturer, df.category, df.cty, df.hwy, df.cyl):
  if i == 'toyota' and j == 'compact' and (k + l) / 2 > 25 and h < 5:
    print(i, j, k, l, h)

toyota compact 21 31 4
toyota compact 22 31 4
toyota compact 24 30 4
toyota compact 24 33 4
toyota compact 26 35 4
toyota compact 28 37 4
toyota compact 26 35 4

In [58]:
for i, j, k, l in zip(df.manufacturer, df.year, df.displ, df.category):
  if i == 'volkswagen' and k > 2.3 and l != 'midsize':
    print(i, j, k, l)

volkswagen 1999 2.8 compact
volkswagen 2008 2.5 compact
volkswagen 2008 2.5 compact
volkswagen 1999 2.8 compact
volkswagen 1999 2.8 compact
volkswagen 2008 2.5 subcompact
volkswagen 2008 2.5 subcompact

In [62]:
for i, j, k, l in zip(df.model, df.trans, df.cty, df.hwy):
  if i == 'a4' and 'auto' not in j and (k + l) / 2 > 25:
    print(i, j, k, l)

a4 manual(m6) 20 31

In [67]:
for i, j, k, l in zip(df.year, df.model, df.fl, df.category):
  if i > 2000 and j != 'a4' and k == 'e' and l != 'compact':
    print(i, j, k, l)

2008 c1500 suburban 2wd e suv
2008 k1500 tahoe 4wd e suv
2008 caravan 2wd e minivan
2008 dakota pickup 4wd e pickup
2008 durango 4wd e suv
2008 ram 1500 pickup 4wd e pickup
2008 ram 1500 pickup 4wd e pickup
2008 grand cherokee 4wd e suv