<a href="https://colab.research.google.com/github/parkmonty/W_Pile/blob/main/pro_week5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 실습 문제

In [32]:
import pandas as pd

In [33]:
# 각 줄마다 이름, 성, 생일년도 가 적힌 csv 파일이 있다. 이 파일을 읽어 chart라는 데이터프레임을 만들어라
chart = pd.read_csv("인적사항.csv")
print(chart)

     이름     성별    생일년도
0   김지아  woman  2003.0
1   박지후    man  1988.0
2   이다은  woman  2004.0
3   이윤서  woman  2002.0
4   박지유  woman     NaN
5   박서연  woman  1980.0
6   박지호    man  2003.0
7   박서준    man  2003.0
8   김서준    man  1995.0
9   이지후    man  1985.0
10  이하윤  woman  2001.0
11  이민준    man  1981.0
12  이수아  woman     NaN
13  이서연  woman  1992.0
14  박하준    man  1995.0
15  박주원    man  1983.0
16  김은서  woman     NaN
17  이주원    man  1996.0
18  박채원  woman  1994.0
19  박은서  woman  1980.0
20  이시우    man  1982.0
21  박하윤  woman     NaN
22  김채원  woman  2004.0
23  김예준    man     NaN
24  박도윤    man  1991.0
25  이하준    man  1982.0
26  박다은  woman  1994.0
27  이서현  woman     NaN
28  김하은  woman     NaN
29  이하은  woman  1998.0
30  김주원    man  1986.0
31  이지윤  woman     NaN
32  김도윤    man  1984.0
33  이채원  woman  1995.0

In [34]:
# "생일년도" 열에 비어있는 값이 있다. chart와 동일하지만 비어있는 값이 1980.0로 채워진 fullChart 데이터프레임을 만들고 출력하라
chart['생일년도'] = chart['생일년도'].fillna(1980.0)
fullchart = chart
fullchart

     이름     성별    생일년도
0   김지아  woman  2003.0
1   박지후    man  1988.0
2   이다은  woman  2004.0
3   이윤서  woman  2002.0
4   박지유  woman  1980.0
5   박서연  woman  1980.0
6   박지호    man  2003.0
7   박서준    man  2003.0
8   김서준    man  1995.0
9   이지후    man  1985.0
10  이하윤  woman  2001.0
11  이민준    man  1981.0
12  이수아  woman  1980.0
13  이서연  woman  1992.0
14  박하준    man  1995.0
15  박주원    man  1983.0
16  김은서  woman  1980.0
17  이주원    man  1996.0
18  박채원  woman  1994.0
19  박은서  woman  1980.0
20  이시우    man  1982.0
21  박하윤  woman  1980.0
22  김채원  woman  2004.0
23  김예준    man  1980.0
24  박도윤    man  1991.0
25  이하준    man  1982.0
26  박다은  woman  1994.0
27  이서현  woman  1980.0
28  김하은  woman  1980.0
29  이하은  woman  1998.0
30  김주원    man  1986.0
31  이지윤  woman  1980.0
32  김도윤    man  1984.0
33  이채원  woman  1995.0

In [35]:
# fullChart의 "생일년도" 열에 저장된 고유값들을 출력하라
fullchart['생일년도'].unique()

array([2003., 1988., 2004., 2002., 1980., 1995., 1985., 2001., 1981.,
       1992., 1983., 1996., 1994., 1982., 1991., 1998., 1986., 1984.])

In [36]:
# apply() 함수를 이용하여 fullChart의 "생일년도" 자료형을 정수로 바꾼 뒤, 출력하라
fullchart['생일년도'] = fullchart['생일년도'].apply(int)
fullchart

     이름     성별  생일년도
0   김지아  woman  2003
1   박지후    man  1988
2   이다은  woman  2004
3   이윤서  woman  2002
4   박지유  woman  1980
5   박서연  woman  1980
6   박지호    man  2003
7   박서준    man  2003
8   김서준    man  1995
9   이지후    man  1985
10  이하윤  woman  2001
11  이민준    man  1981
12  이수아  woman  1980
13  이서연  woman  1992
14  박하준    man  1995
15  박주원    man  1983
16  김은서  woman  1980
17  이주원    man  1996
18  박채원  woman  1994
19  박은서  woman  1980
20  이시우    man  1982
21  박하윤  woman  1980
22  김채원  woman  2004
23  김예준    man  1980
24  박도윤    man  1991
25  이하준    man  1982
26  박다은  woman  1994
27  이서현  woman  1980
28  김하은  woman  1980
29  이하은  woman  1998
30  김주원    man  1986
31  이지윤  woman  1980
32  김도윤    man  1984
33  이채원  woman  1995

In [37]:
# applymap()을 이용하여 fullChart 각 열에 저장된 정보의 자료형이 무엇인지 알려주는 데이터프레임 chartDataType을 만들고 다음처럼 출력하라
#               이름             성별             생일년도
# 0  <class 'str'>  <class 'str'>  <class 'int'>
chartDataType = fullchart[:1].applymap(lambda x : type(x))
chartDataType

              이름             성별           생일년도
0  <class 'str'>  <class 'str'>  <class 'int'>

In [38]:
# map() 함수를 이용하여 fullChart의 "성별" 열에 man을 "남", woman을 "여"로 바꾼 뒤 출력하라
import numpy as np

fullchart['성별'] = np.where(fullchart['성별'] == 'man', '남', '여')
fullchart

# fullchart['성별'] = fullchart['성별'].map({'man' : '남', 'woman' : '여'})

     이름 성별  생일년도
0   김지아  여  2003
1   박지후  남  1988
2   이다은  여  2004
3   이윤서  여  2002
4   박지유  여  1980
5   박서연  여  1980
6   박지호  남  2003
7   박서준  남  2003
8   김서준  남  1995
9   이지후  남  1985
10  이하윤  여  2001
11  이민준  남  1981
12  이수아  여  1980
13  이서연  여  1992
14  박하준  남  1995
15  박주원  남  1983
16  김은서  여  1980
17  이주원  남  1996
18  박채원  여  1994
19  박은서  여  1980
20  이시우  남  1982
21  박하윤  여  1980
22  김채원  여  2004
23  김예준  남  1980
24  박도윤  남  1991
25  이하준  남  1982
26  박다은  여  1994
27  이서현  여  1980
28  김하은  여  1980
29  이하은  여  1998
30  김주원  남  1986
31  이지윤  여  1980
32  김도윤  남  1984
33  이채원  여  1995

In [39]:
# fullChart에서 남, 여가 각각 몇 명 있는지 출력하여라
fullchart['성별'].value_counts()

여    19
남    15
Name: 성별, dtype: int64

# 이론 문제

1. 다음과 같이 코드를 실행 했을 때 ‘major’ column 에 해당하는 값이 0 ~ 3 사이의 숫자로 변환된다. (O)

        import pandas as pd

        student_list = [{'name': 'John', 'major': "Computer Science", 'sex': "male"},
                {'name': 'Nate', 'major': "Computer Science", 'sex': "male"},
                {'name': 'Abraham', 'major': "Physics", 'sex': "male"},
                {'name': 'Brian', 'major': "Psychology", 'sex': "male"},
                {'name': 'Janny', 'major': "Economics", 'sex': "female"},
                {'name': 'Yuna', 'major': "Economics", 'sex': "female"},
                {'name': 'Jeniffer', 'major': "Computer Science", 'sex': "female"},
                {'name': 'Edward', 'major': "Computer Science", 'sex': "male"},
                {'name': 'Zara', 'major': "Psychology", 'sex': "female"},
                {'name': 'Wendy', 'major': "Economics", 'sex': "female"},
                {'name': 'Sera', 'major': "Psychology", 'sex': "female"}]

        df = pd.DataFrame(student_list)

        major_group = df.groupby('major')

        major_dict = {}
        num = 0

        for name, group in major_group:
          major_dict[name] = num
          num += 1

        df['major'] = df['major'].map(major_dict)

2. 데이터프레임 df가 있다고 하자. df.drop_duplicates()는 df의 첫번째 열의 값이 중복이 되는 행을 삭제한 새로운 데이터프레임을 반환한다. (X)

3. 데이터프레임을 df변수에 저장했을 때, df['name']과 df.name은 같은 역할을 할 수 있다. (O)

4. 데이터프레임을 df변수에 저장했을 때, df[2:6]로 슬라이싱하면 df자체가 슬라이싱 된 자료로 바뀐다. (X)